/Motion/Difference_Frames/cars.avi
/Person/pedestrians.mp4
/Motion/motion_detection_simple.py
/*/*.avi
/Road/videoCropper.py
/*/*_old.py
/Road/pickle_jar
/Road/*.p
/Road/regionSelector.py
/*/*_test.py
/*/*.pyc
/*/*/*.pyc
/*/test*
